<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Crop & Fertilizer Recommendation System</title>
</head>
<body>
    <ul>
        <li> <a href="/index">login</a></li>

    </ul>

    <div class="container">
        <section class="feature-section" id="crop-section">
            <div class="feature-info">
                <h2>Crop Recommendation</h2>
                <p>Our advanced system analyzes soil conditions, and more to recommend the best-suited crops for your farm. Maximize your yield with our personalized suggestions.</p>
            </div>
            <div class="feature-image">
                <img src="rows-young-corn-plants-on-600nw-278452958.webp" alt="Crop Recommendation Image">
            </div>
        </section>

        <section class="feature-section" id="fertilizer-section">
            <div class="feature-info">
                <h2>Fertilizer Recommendation</h2>
                <p>Discover the perfect fertilizer match suitable for your soil. Our system considers soil nutrient levels to provide tailored fertilizer recommendations.</p>
            </div>
            <div class="feature-image">
                <img src="gardener-blending-organic-fertiliser-humic-600nw-1364887628.webp" alt="Fertilizer Recommendation Image">
            </div>
        </section>
    </div>
</body>
</html>
