<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="\static\style.css">
    <link rel="stylesheet" href="\static\styles.css">
    <script src="\static\script.js" defer></script>
    <link rel="stylesheet" href="\static\style1.css">
    <link rel="stylesheet" href="\static\styled.css">

    <script src="https://kit.fontawesome.com/f2ae13f1ba.js" crossorigin="anonymous"></script>
<style>
    .login-btn{
        width:200px;
    }
    h2{
        color:black;
    }
    p{
        color:#0400d4;
    }
    .button-link{
        display:flex;
        
    }
    .button-link a{
        margin-left:10px;
    }
</style>
</head>
<body>
        <header>
            <nav>
                <input type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>     
                </label>
                <label class="logo">Crops Recommendation System</label>
                <ul>
                    <li> <a href="/">home</a></li>
                </ul>
               
            </nav>
        </header>
        <div class="popup-form">
            <div class="formbox login">
                <div class="form-detail">
                  
                </div>
                <div class="form-content">
                    <form method="POST" action="/login">
                        <h2>LOGIN</h2>
                        <div class="input-field"><input type="text" name="username" required></div>
                        
                        <div class="input-field"><input type="password" name="password" required></div>
                        
                        <a href="#" class="forgot-password">forgot password?</a>
                        <button type="submit">Login</button>
                    </form>
                    <div class="button-link">
                        <p>Dont have an account?</p>
                        <a href="/register" id="signup-link">signup</a>
                    </div>
                </div>
            </div>
           </div>
        </div>
</body>
</html>
